html {
    font-family: Roboto, Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Helvetica;
}

#banner_img {
    max-width: 100%;
    height: auto;
    width: auto;
    float: right;
}

#content {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    postion: absolute;
    display: inline-block;
}

#copyright {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.auto_img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.center {
    text-align: center;
}

.col2 {
    width: 40%;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    margin: auto;
    position: absolute;
    text-align: left;
    width: auto;
    transition: visibility 0.5s, opacity 0.25s linear;
}

.dropdown a {
    background-color: #ffffff;
}

.dropdown a:hover {
    background-color: #111;
    color: #ffffff;
}

.fltlft {
    float: left;
}

.fltrt {
    float: right;
}

.footer {
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #393939;
    color: white;
    text-align: center;
}

.iblock {
    display: inline-block;
}

.ital {
    font-style: italic;
}

.pdlft {
    padding-left: 10%;
}

.pdrt {
    padding-right: 10%;
}

.show {
    visibility: visible;
    opacity: 1;
}



/**
Mobile CSS
 */
#banner_img {
    display: none;
}

#mobilemenu {
    display: block;
}

#mobile_menu_button {
    display: inline-block;
    cursor: pointer;
}

#navbar {
    display: none;
}

#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.mobilenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.mobilenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mobilenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.mobilenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile_county {
    height: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.mobile_points {
    height: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
}