/**
 * File: stylesheet.css
 * Author: Joseph Farrell
 * Description:
 *		Desktop styling
 */


/**
HTML selectors
 */
html {
	font-family: Roboto, Helvetica;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Helvetica;
}


/**
ID selectors
 */
#banner_img {
	max-width: 100%;
	height: auto;
	width: auto;
	float: right;
}

#content {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15%;
	postion: absolute;
	display: inline-block;
}

#copyright {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#feature_image {
	width: 40%;
	float: right;
	padding-left: 10%;
}

#feature_text {
	width: 40%;
	float: left;
	padding-right: 10%;
}

#map {
	padding-top: 5%;
	margin: auto;
	text-align: center;
}

#mobilemenu {
	display: none;
}

#mobile_menu_button {
	display: none;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navbar li {
	float: right;
}

#navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#navbar li a:hover {
	background-color: #111;
	color: #ffffff;
}


/**
Class selectors
 */
.auto_img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.center {
	text-align: center;
}

.col2 {
	width: 40%;
}

.dropdown {
	visibility: hidden;
	opacity: 0;
	margin: auto;
	position: absolute;
	text-align: left;
	width: auto;
	transition: visibility 0.5s, opacity 0.25s linear;
}

.dropdown a {
	background-color: #ffffff;
}

.dropdown a:hover {
	background-color: #111;
	color: #ffffff;
}

.fltlft {
	float: left;
}

.fltrt {
	float: right;
}

.footer {
	left: 0;
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color: #393939;
	color: white;
	text-align: center;
}

.iblock {
	display: inline-block;
}

.ital {
	font-style: italic;
}

.pdlft {
	padding-left: 10%;
}

.pdrt {
	padding-right: 10%;
}

.show {
	visibility: visible;
	opacity: 1;
}

